# Ignore Webstorm files
.idea/

# Ignore MongoDB database
data/

# Ignore Node files
node_modules/
nodejs/

# Ignore files with passwords
config/production.json
config/test.json

# Ignore Dummy Files
temp/
Thumbs.db