<?xml version='1.0' encoding='utf-8'?>
<widget id="com.memba.expressjs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phonegap.ExpressJS</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="jlchereau@xxxxx.com" href="http://www.memba.com">
        Memba Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>